#### Stats Implementation Using Python - 2025

In [1]:
data = [23, 24, 32, 45, 12, 43, 67, 45, 32, 56, 32]

In [2]:
data

[23, 24, 32, 45, 12, 43, 67, 45, 32, 56, 32]

In [3]:
import pandas as pd

In [4]:
data2 = pd.read_csv("https://raw.githubusercontent.com/thasvithu/DatasetLibrary/refs/heads/main/Iris.csv")

In [5]:
data2

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [6]:
data3 = pd.read_csv("https://raw.githubusercontent.com/thasvithu/DatasetLibrary/refs/heads/main/Titanic.csv")

In [7]:
data3

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
data

[23, 24, 32, 45, 12, 43, 67, 45, 32, 56, 32]

<pre>
    Implementing Stats
pandas
numpy
matplotlib and seaborn
scipy
statsmodel
statistics
</pre>

### Descriptive Stats

In [11]:
data_copy = data.copy()

In [12]:
data_copy

[23, 24, 32, 45, 12, 43, 67, 45, 32, 56, 32]

In [13]:
data_copy.sort()

In [14]:
data_copy

[12, 23, 24, 32, 32, 32, 43, 45, 45, 56, 67]

In [15]:
import numpy as np
np.mean(data)

37.36363636363637

In [18]:
np.median(data_copy) # midddle value

32.0

In [20]:
np.mean(data2["SepalLengthCm"])

5.843333333333334

In [22]:
np.mode(data_copy) # numpy does not have mode

AttributeError: module 'numpy' has no attribute 'mode'

In [24]:
import statistics

In [25]:
statistics.mode(data_copy)

32

In [26]:
total_frequency = len(data)
total = sum(data)
mean = total / total_frequency
print(mean)

37.36363636363637

In [27]:
def mean(data):
    total_frequency = len(data)
    total = sum(data)
    retun total / total_frequency

In [28]:
mean()

5

In [30]:
from scipy import stats as st
st.mode(data)

ModeResult(mode=32, count=3)

In [31]:
# dispertion

In [34]:
np.percentile(data_copy, 25)

28.0